<Nota Id="nota:{{numero}}">
  <InscricaoMunicipalPrestador>{{formatted_inscricao_municipal}}</InscricaoMunicipalPrestador>
  <NumeroNota>{{numero}}</NumeroNota>
  <CodigoVerificacao>{{cod_verificacao}}</CodigoVerificacao>
  <MotivoCancelamento>{{motivo_cancelamento}}</MotivoCancelamento>
</Nota>
