<Item>
  <DiscriminacaoServico>{{discriminacao}}</DiscriminacaoServico>
  <Quantidade>{{quantidade}}</Quantidade>
  <ValorUnitario>{{valor_unitario}}</ValorUnitario>
  <ValorTotal>{{valor_total}}</ValorTotal>
  <Tributavel>{{tributavel}}</Tributavel>
</Item>
