<RPS Id="rps:{{numero}}">
  <Assinatura>{{assinatura}}</Assinatura>
  <InscricaoMunicipalPrestador>{{prestador.inscricao_municipal}}</InscricaoMunicipalPrestador>
  <RazaoSocialPrestador>{{prestador.razao_social}}</RazaoSocialPrestador>
  <TipoRPS>{{tipo}}</TipoRPS>
  <SerieRPS>{{serie}}</SerieRPS>
  <NumeroRPS>{{numero}}</NumeroRPS>
  <DataEmissaoRPS>{{formatted_data_emissao}}</DataEmissaoRPS>
  <SituacaoRPS>{{situacao}}</SituacaoRPS>
  <SerieRPSSubstituido>{{serie_rps_substituido}}</SerieRPSSubstituido>
  <NumeroRPSSubstituido>{{num_rps_substituido}}</NumeroRPSSubstituido>
  <NumeroNFSeSubstituida>{{num_nfse_substituida}}</NumeroNFSeSubstituida>
  <DataEmissaoNFSeSubstituida>{{formatted_data_nfse_substituida}}</DataEmissaoNFSeSubstituida>
  <SeriePrestacao>{{serie_prestacao}}</SeriePrestacao>
  <InscricaoMunicipalTomador>{{tomador.inscricao_municipal}}</InscricaoMunicipalTomador>
  <CPFCNPJTomador>{{tomador.formatted_cnpj}}</CPFCNPJTomador>
  <RazaoSocialTomador>{{tomador.razao_social}}</RazaoSocialTomador>
  <TipoLogradouroTomador>{{tomador.tipo_logradouro}}</TipoLogradouroTomador>
  <LogradouroTomador>{{tomador.logradouro}}</LogradouroTomador>
  <NumeroEnderecoTomador>{{tomador.num_endereco}}</NumeroEnderecoTomador>
  <TipoBairroTomador>{{tomador.tipo_bairro}}</TipoBairroTomador>
  <BairroTomador>{{tomador.bairro}}</BairroTomador>
  <CidadeTomador>{{tomador.cod_cidade}}</CidadeTomador>
  <CidadeTomadorDescricao>{{tomador.cidade}}</CidadeTomadorDescricao>
  <CEPTomador>{{tomador.formatted_cep}}</CEPTomador>
  <EmailTomador>{{tomador.email}}</EmailTomador>
  <CodigoAtividade>{{cod_atividade}}</CodigoAtividade>
  <AliquotaAtividade>{{aliquota_atividade}}</AliquotaAtividade>
  <TipoRecolhimento>{{tipo_recolhimento}}</TipoRecolhimento>
  <MunicipioPrestacao>{{cod_municipio_prestacao}}</MunicipioPrestacao>
  <MunicipioPrestacaoDescricao>{{municipio_prestacao}}</MunicipioPrestacaoDescricao>
  <Operacao>{{operacao}}</Operacao>
  <Tributacao>{{tributacao}}</Tributacao>
  <ValorPIS>{{valor_pis}}</ValorPIS>
  <ValorCOFINS>{{valor_cofins}}</ValorCOFINS>
  <ValorINSS>{{valor_inss}}</ValorINSS>
  <ValorIR>{{valor_ir}}</ValorIR>
  <ValorCSLL>{{valor_csll}}</ValorCSLL>
  <AliquotaPIS>{{aliquota_pis}}</AliquotaPIS>
  <AliquotaCOFINS>{{aliquota_cofins}}</AliquotaCOFINS>
  <AliquotaINSS>{{aliquota_inss}}</AliquotaINSS>
  <AliquotaIR>{{aliquota_ir}}</AliquotaIR>
  <AliquotaCSLL>{{aliquota_csll}}</AliquotaCSLL>
  <DescricaoRPS>{{descricao}}</DescricaoRPS>
  <DDDPrestador>{{prestador.ddd}}</DDDPrestador>
  <TelefonePrestador>{{prestador.telefone}}</TelefonePrestador>
  <DDDTomador>{{tomador.ddd}}</DDDTomador>
  <TelefoneTomador>{{tomador.telefone}}</TelefoneTomador>
  <MotCancelamento>{{motivo_cancelamento}}</MotCancelamento>
  <CpfCnpjIntermediario>{{cnpj_intermediario}}</CpfCnpjIntermediario>
  <Deducoes>
    {{{render_deducoes}}}
  </Deducoes>
  <Itens>
    {{{render_itens}}}
  </Itens>
</RPS>
