<ns1:ReqCancelamentoNFSe xmlns:ns1="http://localhost:8080/WsNFe2/lote" xmlns:tipos="http://localhost:8080/WsNFe2/tp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://localhost:8080/WsNFe2/lote http://localhost:8080/WsNFe2/xsd/ReqCancelamentoNFSe.xsd">
  <Cabecalho>
    <CodCidade>{{cod_cidade}}</CodCidade>
    <CPFCNPJRemetente>{{cnpj}}</CPFCNPJRemetente>
    <transacao>{{transacao}}</transacao>
    <Versao>{{versao}}</Versao>
  </Cabecalho>
  <Lote Id="lote:{{id}}">
  {{{render_notas}}}
  </Lote>
</ns1:ReqCancelamentoNFSe>
