<EnviarLoteRpsEnvio xmlns="http://www.abrasf.org.br/ABRASF/arquivos/nfse.xsd">
	<LoteRps Id="{{id}}">
		<NumeroLote>{{numero}}</NumeroLote>
		<Cnpj>{{cnpj}}</Cnpj>
		<InscricaoMunicipal>{{inscricao_municipal}}</InscricaoMunicipal>
		<QuantidadeRps>{{qtd_rps}}</QuantidadeRps>
		<ListaRps>
    {{{render_rps}}}
		</ListaRps>
	</LoteRps>
</EnviarLoteRpsEnvio>