<Rps>
	<InfRps Id="{{id}}">
		<IdentificacaoRps>
			<Numero>{{numero}}</Numero>
			<Serie>{{serie}}</Serie>
			<Tipo>{{tipo}}</Tipo>
		</IdentificacaoRps>
		<DataEmissao>{{data_emissao}}</DataEmissao>
		<NaturezaOperacao>{{operacao}}</NaturezaOperacao>
		<OptanteSimplesNacional>{{optante_simples_nacional}}</OptanteSimplesNacional>
		<IncentivadorCultural>{{incentivador_cultural}}</IncentivadorCultural>
		<Status>{{status_rps}}</Status>
		<Servico>
			<Valores>
				<ValorServicos>{{valor_servico}}</ValorServicos>
				<ValorDeducoes>{{valor_deducao}}</ValorDeducoes>
				<ValorPis>{{valor_pis}}</ValorPis>
				<ValorCofins>{{valor_cofins}}</ValorCofins>
				<ValorInss>{{valor_inss}}</ValorInss>
				<ValorIr>{{valor_ir}}</ValorIr>
				<ValorCsll>{{valor_csll}}</ValorCsll>
				<IssRetido>{{iss_retido}}</IssRetido>
				<ValorIss>{{valor_iss}}</ValorIss>
				<OutrasRetencoes>{{valor_outras_retencoes}}</OutrasRetencoes>
				<Aliquota>{{aliquota_atividade}}</Aliquota>
				<DescontoIncondicionado>{{desconto_incondicionado}}</DescontoIncondicionado>
				<DescontoCondicionado>{{desconto_condicionado}}</DescontoCondicionado>
			</Valores>
			<ItemListaServico>{{cod_atividade}}</ItemListaServico>
			<CodigoTributacaoMunicipio>{{tipo_recolhimento}}</CodigoTributacaoMunicipio>
			<Discriminacao>{{descricao}}</Discriminacao>
			<CodigoMunicipio>{{cod_municipio_prestacao}}</CodigoMunicipio>
		</Servico>
		<Prestador>
			<Cnpj>{{prestador.cnpj}}</Cnpj>
			<InscricaoMunicipal>{{prestador.inscricao_municipal}}</InscricaoMunicipal>
		</Prestador>
		<Tomador>
			<IdentificacaoTomador>
				<CpfCnpj>
				  {{#tomador.cpf}}
  				<Cpf>{{tomador.cpf}}</Cpf>
  				{{/tomador.cpf}}
  				{{#tomador.cnpj}}
  				<Cnpj>{{tomador.cnpj}}</Cnpj>
  				{{/tomador.cnpj}}
				</CpfCnpj>
			</IdentificacaoTomador>
			{{#tomador.razao_social}}
			<RazaoSocial>{{tomador.razao_social}}</RazaoSocial>
			{{/tomador.razao_social}}
			{{#tomador.tem_endereco}}
			<Endereco>
			  {{#tomador.logradouro}}
				<Endereco>{{tomador.logradouro}}</Endereco>
			  {{/tomador.logradouro}}
			  {{#tomador.num_endereco}}
				<Numero>{{tomador.num_endereco}}</Numero>
			  {{/tomador.num_endereco}}
			  {{#tomador.complemento_endereco}}
				<Complemento>{{tomador.complemento_endereco}}</Complemento>
			  {{/tomador.complemento_endereco}}
			  {{#tomador.bairro}}
				<Bairro>{{tomador.bairro}}</Bairro>
			  {{/tomador.bairro}}
			  {{#tomador.cod_cidade}}
				<CodigoMunicipio>{{tomador.cod_cidade}}</CodigoMunicipio>
			  {{/tomador.cod_cidade}}
			  {{#tomador.uf}}
				<Uf>{{tomador.uf}}</Uf>
			  {{/tomador.uf}}
			  {{#tomador.cep}}
				<Cep>{{tomador.cep}}</Cep>
			  {{/tomador.cep}}
			</Endereco>
			{{/tomador.tem_endereco}}
			{{#tomador.tem_contato}}
			<Contato>
		    {{#tomador.telefone}}
			  <Telefone>{{tomador.ddd}}{{tomador.telefone}}</Telefone>
			  {{/tomador.telefone}}
			  {{#tomador.email}}
				<Email>{{tomador.email}}</Email>
			  {{/tomador.email}}
			</Contato>
			{{/tomador.tem_contato}}
		</Tomador>
	</InfRps>
</Rps>