<ns1:ReqConsultaLote xmlns:ns1="http://localhost:8080/WsNFe2/lote" xmlns:tipos="http://localhost:8080/WsNFe2/tp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://localhost:8080/WsNFe2/lote http://localhost:8080/WsNFe2/xsd/ReqConsultaLote.xsd">
  <Cabecalho>
    <CodCidade>{{cod_cidade}}</CodCidade>
    <CPFCNPJRemetente>{{cnpj}}</CPFCNPJRemetente>
    <Versao>{{versao}}</Versao>
    <NumeroLote>{{num_lote}}</NumeroLote>
  </Cabecalho>
</ns1:ReqConsultaLote>
