<Deducao>
  <DeducaoPor>{{por}}</DeducaoPor>
  <TipoDeducao>{{tipo}}</TipoDeducao>
  <CPFCNPJReferencia>{{cnpj_ref}}</CPFCNPJReferencia>
  <NumeroNFReferencia>{{num_nf_ref}}</NumeroNFReferencia>
  <ValorTotalReferencia>{{valor_total_ref}}</ValorTotalReferencia>
  <PercentualDeduzir>{{percentual}}</PercentualDeduzir>
  <ValorDeduzir>{{valor}}</ValorDeduzir>
</Deducao>
