<ns1:ReqEnvioLoteRPS xmlns:ns1="http://localhost:8080/WsNFe2/lote" xmlns:tipos="http://localhost:8080/WsNFe2/tp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://localhost:8080/WsNFe2/lote http://localhost:8080/WsNFe2/xsd/ReqEnvioLoteRPS.xsd">
  <Cabecalho>
    <CodCidade>{{cod_cidade}}</CodCidade>
    <CPFCNPJRemetente>{{cnpj}}</CPFCNPJRemetente>
    <RazaoSocialRemetente>{{razao_social}}</RazaoSocialRemetente>
    <transacao>{{transacao}}</transacao>
    <dtInicio>{{data_inicio}}</dtInicio>
    <dtFim>{{data_fim}}</dtFim>
    <QtdRPS>{{qtd_rps}}</QtdRPS>
    <ValorTotalServicos>{{valor_servicos}}</ValorTotalServicos>
    <ValorTotalDeducoes>{{valor_deducoes}}</ValorTotalDeducoes>
    <Versao>{{versao}}</Versao>
    <MetodoEnvio>{{metodo_envio}}</MetodoEnvio>
  </Cabecalho>
  <Lote Id="lote:{{id}}">
  {{{render_rps}}}
  </Lote>
</ns1:ReqEnvioLoteRPS>
